# Server
PORT=5000
NODE_ENV=development # development | production

# Database (PostgreSQL)
DATABASE_URL=postgres://user:pass@host:port/dbname?sslmode=require

# Authentication
JWT_ACCESS_SECRET=your_super_secret_access_key
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=your_super_secret_refresh_key
JWT_REFRESH_EXPIRES_IN=7d

# VNPay Config
VNPAY_TMNCODE=your_tmn_code
VNPAY_HASHSECRET=your_hash_secret
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=https://your-frontend-domain.com/payment-result

# Frontend Origin (Cho CORS)
FRONTEND_URL=https://your-nextjs-app.netlify.app
